@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-space-950: #070b14;
    --color-space-900: #0f172a;
    --color-space-800: #1e293b;

    --color-primary: #6366f1;

    --color-accent: #6366f1;
    --color-accent-content: #6366f1;
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: #818cf8;
        --color-accent-content: #818cf8;
        --color-accent-foreground: var(--color-white);
    }
}

@layer base {
    html,
    body {
        background-color: #070b14;
        color: #f1f5f9;
        color-scheme: dark;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: rgba(255, 255, 255, 0.1);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
